---
import MainLayout from '../layouts/Layout.astro';
---

<MainLayout> 
  
  <div class="container py-8 md:pt-8 md:pb-0 px-3">

    <div class="flex flex-col md:flex-row justify-center items-start">
      <div class="flex order-2 md:order-1 flex-col items-center gap-[35px] md:mt-[75px]">
          <img src="/bonus.png" alt="sub">
          <p class="font-[500] max-w-[325px] md:max-w-[516px] text-[18px] md:text-[22px] text-center ">получите свой первый депозит с дополнительными средствами <span class="text-[22px] text-[#A14BF7] font-bold">до 500%!</span></p>
          <a class="py-[20px] px-[70px] w-full text-center md:w-auto font-medium text-white bg-[#A14BF7] uppercase text-[20px] rounded-[50px] transition hover:bg-[#511F83]" href="">Забрать бонусы</a>
      </div>
      <div class="order-1 md:order-2"><img src="/fox.png" alt="fox"></div>
    </div>

  </div>

  <div class="bg-[#F5F5F5] bg-no-repeat bg-top bg-contain md:bg-custom py-8 px-3  md:pr-6" style="background-image: url(/punch.png);">
      
        <div class=" flex flex-col md:flex-row justify-end items-center">
          <div class="mt-[300px]  max-w-[698px] md:my-[82px] flex flex-col items-center">
            <h1 class="font-[700] text-[32px] mb-[30px] ">Punch Bet: Полный Гид по Ведущей Букмекерской Конторе</h1>
            <div class="">
              <ul class="flex flex-wrap gap-2 mb-[10px]">
                  <li><a class="py-2 text-[#fff] px-4 w-full text-[12px] text-center md:w-auto font-medium bg-[#A14BF7] uppercase rounded-[50px] transition hover:bg-[#511F83]" href="#Istoriya-i-Licenzirovanie">История и Лицензирование</a></li>
                  <li><a class="py-2 text-[#fff] px-4 w-full text-[12px] text-center md:w-auto font-medium bg-[#A14BF7] uppercase rounded-[50px] transition hover:bg-[#511F83]" href="#Vidy-Stavok-i-Sportivnye Sobytiya">Виды Ставок и Спортивные События</a></li>
                  <li><a class="py-2 text-[#fff] px-4 w-full text-[12px] text-center md:w-auto font-medium bg-[#A14BF7] uppercase rounded-[50px] transition hover:bg-[#511F83]" href="#Bonusy-i-Promoakcii">Бонусы и Промоакции</a></li>
                  <li><a class="py-2 text-[#fff] px-4 w-full text-[12px] text-center md:w-auto font-medium bg-[#A14BF7] uppercase rounded-[50px] transition hover:bg-[#511F83]" href="#Platformy-i-Prilozheniya">Платформы и Приложения</a></li>
                  <li><a class="py-2 text-[#fff] px-4 w-full text-[12px] text-center md:w-auto font-medium bg-[#A14BF7] uppercase rounded-[50px] transition hover:bg-[#511F83]" href="#Registraciya-i-Verifikaciya">Регистрация и Верификация</a></li>
                  <li><a class="py-2 text-[#fff] px-4 w-full text-[12px] text-center md:w-auto font-medium bg-[#A14BF7] uppercase rounded-[50px] transition hover:bg-[#511F83]" href="#Popolnenie-i-Vyvod-Sredstv">Пополнение и Вывод Средств</a></li>
                  <li><a class="py-2 text-[#fff] px-4 w-full text-[12px] text-center md:w-auto font-medium bg-[#A14BF7] uppercase rounded-[50px] transition hover:bg-[#511F83]" href="#Stavki-v-Punch-Bet">Ставки в Punch Bet</a></li>
                  <li><a class="py-2 text-[#fff] px-4 w-full text-[12px] text-center md:w-auto font-medium bg-[#A14BF7] uppercase rounded-[50px] transition hover:bg-[#511F83]" href="#Podderzhka-Klientov">Поддержка Клиентов</a></li>
                  <li><a class="py-2 text-[#fff] px-4 w-full text-[12px] text-center md:w-auto font-medium bg-[#A14BF7] uppercase rounded-[50px] transition hover:bg-[#511F83]" href="#CHasto-Zadavaemye-Voprosy">Часто Задаваемые Вопросы</a></li>
                  <li><a class="py-2 text-[#fff] px-4 w-full text-[12px] text-center md:w-auto font-medium bg-[#A14BF7] uppercase rounded-[50px] transition hover:bg-[#511F83]" href="#Zaklyuchenie">Заключение</a></li>
              </ul>
              <h2 id="Istoriya-i-Licenzirovanie" class="font-[700] text-[32px] mb-[30px]">История и Лицензирование</h2>
            <p class="mb-[50px]">Punch Bet, ведущая букмекерская контора, зарекомендовала себя как надежный и безопасный выбор для любителей спорта и киберспорта. С момента своего основания, Punch Bet претерпела ряд важных изменений и улучшений. Она обладает необходимыми лицензиями и регулируется соответствующими органами, что гарантирует честность и прозрачность всех операций.</p>
            <a class="kqwSc29T py-4 px-16 font-medium uppercase bg-[#CCFF66] rounded-[50px] text-[#000] transition hover:bg-[#A14BF7] hover:text-[#FFF]" href="/">Играть</a>
          </div>
        </div>
    
    </div>
</div>
  <div class="container pt-8 px-3">

    <div class="flex flex-col md:flex-row justify-between items-end md:mt-[100px] mb-[100px]">
      <div class="md:max-w-[1066px] flex flex-col items-center">
          <h2 id="Vidy-Stavok-i-Sportivnye Sobytiya" class="font-[700] text-[32px] mb-[30px]">Виды Ставок и Спортивные События</h2>  
          <p class="mb-[10px] font-[400]">На платформе Punch Bet представлен широкий спектр спортивных событий, начиная от футбола и баскетбола, заканчивая теннисом и киберспортивными турнирами. Игроки могут выбирать между различными видами ставок, включая ставки на исход матча, тоталы, форы и многие другие.</p>
          <p  class="mb-[10px] font-[400]">Интересный Факт: Punch Bet регулярно обновляет свой список спортивных событий, предоставляя пользователям актуальные и востребованные опции для ставок.</p>
          <p  class="mb-[10px] font-[400]">Продолжайте, если готовы перейти к следующему разделу, или дайте знать, если хотите внести какие-либо изменения или добавления в этот раздел.</p>

      </div>
      <div class="hidden md:block"><img src="/field.png" alt="field"></div>
    </div>

  </div>
  <div class="bg-[#F5F5F5] bg-no-repeat bg-top bg-contain md:bg-custom py-8 px-3  md:pr-6" style="background-image: url(/casino.png);">
      
    <div class=" flex flex-col md:flex-row justify-end items-center">
      <div class="mt-[300px]  max-w-[698px] md:my-[82px] flex flex-col items-center">
        <h2 id="Bonusy-i-Promoakcii" class="font-[700] text-[32px] mb-[30px] ">Бонусы и Промоакции</h2>
        <p class="mb-[10px]">Punch Bet привлекает новых пользователей и поощряет активных игроков с помощью разнообразных бонусных программ и промоакций. Например, новые игроки могут рассчитывать на приветственный бонус при первом пополнении счета. Также существуют специальные акции, связанные с крупными спортивными событиями.</p>
        <p class="mb-[10px] font-bold">Список Популярных Бонусов:</p>
        <ul class="list-disc pl-[20px] mb-[10px]">
          <li>Приветственный Бонус: Дополнительный процент к первому пополнению.</li>
          <li>Бонус за Лояльность: Бонусы для постоянных игроков.</li>
          <li>Ставка без Риска: Возврат ставки в случае проигрыша.</li>
          <li>Акции к Событиям: Специальные предложения к значимым спортивным событиям.</li>
        </ul>
        <p class="mb-[10px]">Важно Знать: Каждый бонус сопровождается определенными условиями отыгрыша, которые необходимо внимательно изучить, чтобы полностью использовать его преимущества.</p>
    </div>
  </div>
</div>

    <div class="container pt-8 px-3">

      <div class="flex flex-col md:flex-row justify-between items-end md:mt-[100px] mb-[100px]">
        <div class="md:max-w-[1066px] flex flex-col items-center">
            <h2 id="Platformy-i-Prilozheniya" class="font-[700] text-[32px] mb-[30px]">Платформы и Приложения</h2>  
            <p class="mb-[10px] font-[400]">Punch Bet предлагает удобные и интуитивно понятные платформы для ставок. Особое внимание уделяется мобильным приложениям, которые позволяют делать ставки в любое время и в любом месте.</p>
            <h3 class="font-[600] text-[26px] mb-[30px]">Особенности Мобильного Приложения:</h3>
            <ul class="list-disc pl-[20px] mb-[10px]">
              <li>Удобство Использования: Простой и понятный интерфейс.</li>
              <li>Доступность: Приложение доступно для скачивания на iOS и Android.</li>
              <li>Функциональность: Полный спектр ставок и операций счета.</li>
            </ul>
            <h3 class="font-[600] text-[26px] mb-[30px]">Веб-Платформа:</h3>
            <ul class="list-disc pl-[20px] mb-[10px]">
              <li>Дизайн: Чистый и ясный дизайн сайта.</li>
              <li>Навигация: Легкость в использовании всех функций сайта.</li>
              <li>Информация: Доступность всех необходимых сведений о ставках и событиях.</li>
            </ul>
        </div>
        <div class="hidden md:block"><img src="/field.png" alt="field"></div>
      </div>

      <h2 class="font-[700] text-[32px] mb-[30px]" id="Registraciya-i-Verifikaciya">Регистрация и Верификация</h2>
      <p class="mb-[20px] font-[400]">Процесс регистрации в Punch Bet является простым и интуитивно понятным. Это первый шаг для начала ставок на спортивные события.</p>
      <h3 class="font-[600] text-[26px] mb-[30px]">Шаги Регистрации:</h3>
      <ul class="list-disc pl-[20px] mb-[20px]">
        <li>Переход на Сайт: Посетите официальный сайт Punch Bet.</li>
        <li>Заполнение Формы: Введите необходимые личные данные.</li>
        <li>Подтверждение Учетной Записи: Следуйте инструкциям для верификации учетной записи.</li>
      </ul>
      <h3 class="font-[600] text-[26px] mb-[30px]">Процесс Верификации:</h3>
      <ul class="list-disc pl-[20px] mb-[10px]">
        <li>Цель: Проверка личности пользователя для обеспечения безопасности.</li>
        <li>Документы: Подача сканов документов, подтверждающих личность.</li>
        <li>Безопасность: Все личные данные защищены и обрабатываются с соблюдением конфиденциальности.</li>
      </ul>
      <p class="mb-[20px] font-[400]">Важно: Верификация является обязательным условием для совершения финансовых операций на платформе.</p>
      <h2 class="font-[700] text-[32px] mb-[30px]" id="Popolnenie-i-Vyvod-Sredstv">Пополнение и Вывод Средств</h2>
      <p class="mb-[10px] font-[400]">Punch Bet предоставляет различные удобные методы пополнения и вывода средств, что делает процесс ставок максимально комфортным.</p>
      <p class="mb-[10px] font-[400]">Способы Пополнения:</p>
      <ul class="list-disc pl-[20px] mb-[10px]">
        <li>Банковские карты</li>
        <li>Электронные кошельки</li>
        <li>Другие популярные платежные системы</li>
      </ul>
      <p class="mb-[10px] font-[400]">Лимиты и Комиссии:</p>
      <ul class="list-disc pl-[20px] mb-[10px]">
        <li>Минимальный Лимит: Установлен минимальный порог для пополнения и вывода средств.</li>
        <li>Без Комиссий: В большинстве случаев операции проводятся без комиссий.</li>
      </ul>
      <p class="mb-[10px] font-[400]">Процесс Вывода Средств:</p>
      <ul class="list-disc pl-[20px] mb-[20px]">
        <li>Верификация: Необходима верификация личности.</li>
        <li>Запрос на Вывод: Выбор предпочтительного способа и суммы для вывода.</li>
        <li>Обработка Запроса: Запросы на вывод обрабатываются в течение установленного времени.</li>
      </ul>
      <h2 class="font-[700] text-[32px] mb-[30px]" id="Stavki-v-Punch-Bet">Ставки в Punch Bet</h2>
      <p class="mb-[10px] font-[400]">Punch Bet предлагает широкий спектр ставок, охватывающих множество спортивных и киберспортивных событий, что делает платформу идеальным выбором для различных категорий игроков.</p>
      <p class="mb-[10px] font-[400]">Виды Ставок:</p>
      <ul class="list-disc pl-[20px] mb-[10px]">
        <li>Прематч: Ставки, сделанные до начала события.</li>
        <li>Лайв-ставки: Ставки в реальном времени во время матча.</li>
      </ul>
      <p class="mb-[30px] font-[400]">Советы по Ставкам:</p>
      <ul class="list-disc pl-[20px] mb-[10px]">
        <li>Изучение Команд и Игроков: Понимание формы и истории игроков или команд может увеличить шансы на успех.</li>
        <li>Управление Банкроллом: Разумное управление финансами является ключом к успешным ставкам.</li>
        <li>Анализ Коэффициентов: Выбор ставок с наилучшими коэффициентами.</li>
      </ul>
      <h3 class="font-[600] text-[26px] mb-[30px]">Процесс Верификации:</h3>
      <table class="text-[#000] w-full max-w-[700px]">
        <tbody>
          <tr class="border-b-[1px] border-black">
            <td>Вид Спорта</td>
            <td>Особенности</td>
          </tr>
          <tr class="border-b-[1px] border-black">
            <td>Футбол</td>
            <td>Широкий выбор лиг и турниров</td>
          </tr>
          <tr class="border-b-[1px] border-black">
            <td>Баскетбол</td>
            <td>Высокие коэффициенты и динамика</td>
          </tr>
          <tr class="border-b-[1px] border-black">
            <td>Теннис</td>
            <td>Доступность круглый год</td>
          </tr>
          <tr>
            <td>Киберспорт</td>
            <td>Растущая популярность и разнообразие</td>
          </tr>
        </tbody>
      </table>
      <h2 class="font-[700] text-[32px] mb-[30px]" id="Podderzhka-Klientov">Поддержка Клиентов</h2>
      <p class="mb-[10px] font-[400]">Punch Bet уделяет большое внимание качественной поддержке своих клиентов. Команда поддержки доступна для решения любых вопросов и проблем, с которыми могут столкнуться пользователи.</p>
      <p class="mb-[10px] font-[400]">Способы Связи:</p>
      <ul class="list-disc pl-[20px] mb-[10px]">
        <li>Онлайн-чат: Быстрый и удобный способ получения помощи.</li>
        <li>Электронная Почта: Для более сложных и детальных запросов.</li>
        <li>Телефонная Линия: Доступна для немедленной помощи.</li>
      </ul>
      <p class="mb-[10px] font-[400]">Типы Запросов:</p>
      <ul class="list-disc pl-[20px] mb-[10px]">
        <li>Проблемы с доступом к аккаунту.</li>
        <li>Вопросы по финансовым операциям.</li>
        <li>Разъяснение правил ставок.</li>
      </ul>
      
      <p class="mb-[30px] font-[400]">Забота о Клиентах: Punch Bet стремится к тому, чтобы каждый клиент чувствовал себя ценным и получал качественную помощь.</p>
      <h2 class="font-[700] text-[32px] mb-[30px]" id="CHasto-Zadavaemye-Voprosy">Часто Задаваемые Вопросы</h2>
      

      <details class="text-[#000]" open>
        <summary class="font-[500] text-[18px] md:text-[24px] block text-[#4E4E4E]">Вопрос: Как зарегистрироваться на сайте Punch Bet?</summary>
        <p class="text-[#4E4E4E] text-[16px] md:text-[20px] font-[400]">Ответ: Процесс регистрации описан на сайте и включает в себя заполнение формы с личными данными и последующую верификацию.</p>
    </details>
    <details class="text-[#000]">
        <summary class="font-[500] text-[18px] md:text-[24px] block text-[#4E4E4E]">Вопрос: Какие бонусы доступны для новых игроков?</summary>
        <p class="text-[#4E4E4E] text-[16px] md:text-[20px] font-[400]">Ответ: Новые пользователи могут воспользоваться приветственным бонусом, условия которого указаны в соответствующем разделе сайта.</p>
    </details>
    <details class="text-[#000]">
        <summary class="font-[500] text-[18px] md:text-[24px] block text-[#4E4E4E]">Вопрос: Какие способы пополнения счета доступны?</summary>
        <p class="text-[#4E4E4E] text-[16px] md:text-[20px] font-[400]">Ответ: Punch Bet предлагает различные способы пополнения, включая банковские карты и электронные кошельки.</p>
    </details>
    <details class="text-[#000]">
      <summary class="font-[500] text-[18px] md:text-[24px] block text-[#4E4E4E]">Вопрос: Какие виды ставок доступны на Punch Bet?</summary>
      <p class="text-[#4E4E4E] text-[16px] md:text-[20px] font-[400]">Ответ: Пользователи могут делать как прематч, так и лайв-ставки на различные спортивные события.</p>
    </details>

      
      <p class="mb-[30px] font-[400]">Совет: Рекомендуем ознакомиться с этим разделом перед обращением в службу поддержки, так как многие вопросы уже имеют подробные ответы.</p>

      <h2 class="font-[700] text-[32px] mb-[30px]" id="Zaklyuchenie">Заключение</h2>
      <p class="mb-[10px] font-[400]">Punch Bet устанавливает высокие стандарты в мире букмекерских контор, предлагая своим пользователям удобный интерфейс, широкий выбор ставок, щедрые бонусы и качественную поддержку клиентов. Особенно стоит отметить мобильные приложения, которые делают процесс ставок еще более доступным и удобным.</p>
      <p class="mb-[10px] font-[400]">Основные Преимущества Punch Bet:</p>
      <ul class="list-disc pl-[20px] mb-[10px]">
        <li>Надежность и безопасность.</li>
        <li>Разнообразие ставок и спортивных событий.</li>
        <li>Удобные платформы и приложения.</li>
        <li>Привлекательные бонусные программы.</li>
      </ul>
      <p class="mb-[10px] font-[400]">Punch Bet продолжает развиваться и улучшать свои услуги, стремясь предоставить лучший опыт для каждого любителя ставок.</p>

    </div>
    
<style>
html {
  scroll-behavior: smooth;
}
details{
  display:block;
  background: #fff;
  width:100%;
  border-radius: 44px;
  overflow:hidden;
  margin-bottom: 1.5rem;
  border: 1px solid #000;
  padding-bottom: 27px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
   display:block;
   padding: 27px 108px 17px 36px;
   font-size:1.4em;
   cursor: pointer;
   position: relative;
}
summary:before {  
  top: 16px;
  right: 36px;
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=") no-repeat 50% 50% / 56px 56px;
  width: 56px;
  height: 56px;  
  content: "";
  position: absolute;
  transition: transform .5s;
  border-radius: 9999px;
  background-color: #ccff66;
}
details[open] > summary:before {
  transform: scale(1,-1);
}
summary ~ * {
   padding: 0 1em 10px 1.4em;
}
details[open] summary ~ *{ 
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
summary:focus {
  outline:0;
}
</style>

</MainLayout>

